page-calculate{
    .grid, .col{
        padding:0!important;
    }
    .labels{
        border:none;
        color:rgb(89,97,118);
        font-size:12pt;
        padding-left: 30px;
        width:100%!important;
        max-width:100%!important;
    }
    ion-select{
        width:300px!important;
    }
    ion-icon{
        line-height:15px;
    }
     
    .text-input-md{
        margin: 4px 0px;
    } 
    .text-input-ios{
        margin: 0px!important;
        padding:10px 0px 0px 0px!important;
    }
    
    ion-col{
        position:relative;
    }
    .icoEmpenho{
        position: absolute;
        color: #596176;
        line-height: 40px;
    }
    
    // .icoEmpenho.icon-ios{
    //     top:20px;
    // }
    .colunaResumo{
        border:0px!important;
        height: 30px;
    }
    .colunaResumoTotal{
        border:0px!important;
        height: 40px;
    }
    .asterisco{
        font-size:8pt;
    }
    .txt-attendees{
        display: inline-block;
        width: 50px;
    }
    .row-scroll{
        padding: 0 10%!important; 
    }

    .col-scroll{
        padding: 0!important;
    }
    ion-scroll[scrollX] {
        height: 100%;
        white-space: nowrap;
        .scroll-content{
            height: 60px;
            padding: 0 0%!important;
        }
        .scroll-item {
            text-align: center;
            display: inline-block;
            min-width: 30px;
            color: #98999e;
            font-size: 9pt;
        }
        .scroll-item-space{
            display: inline-block;
            width: 95px;
        }
        .item-selected {
            width: 30px;
            color: #f77062;
            font-size: 14pt;
        }
    }

    #footer {
        height: 135px;
    }
    .row-scroll {
        height: 70px;
        width: 100%;
        padding: 0 !important;
        background-color: #fff;
        z-index: 3000;
    }
    .espaco-botao {
        display: block;
        clear: both;
        height: 105px;
        width: 100%;
    }
    ion-content h5 {
        margin: 20px 0 0 0;
        color: #596176;
        text-align: center;
        font-size: 7pt;
        width: 100px;
        float: left;
        padding: 10px;
    }
    .txt-attendees {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding:0px!important;
        margin:0px!important;
    }

    .text-input-md {
        margin: 1px 0px;
        text-align: center;
        font-size: 16pt;
        width: 100%;
    }
    .text-input-ios {
        padding:0px!important;
        margin:0px!important;
        text-align: center;
        font-size: 16pt;
        width: 100%;
    }
    .item-ios.item-block .item-inner{
        border:0px;
    }

    .borderToFooter ion-list{
        margin:0px!important;
        text-align:center;
    }

    .borderToFooter ion-list ion-item{
        width:32%;
        display: inline-block;
        vertical-align: middle;
        height: 40px;
        min-height: 40px;
        border: 0px!important;
        font-size: 10px;
    }

    .borderToFooter span.duracao_radio{
        width: 100%;
        text-align: left;
        display: block;
        font-size: 16px;
        padding: 4px 0 0 4px;
    }

    
} 



 