page-calculate{
    .labels{
        border:none;
        color:rgb(89,97,118);
        font-size:12pt;
        padding-left: 30px;
        width:100%!important;
        max-width:100%!important;
    }
    ion-select{
        width:300px!important;
    }
    ion-icon{
        line-height:15px;
    }
     
    .text-input-md{
        margin: 4px 0px;
    }
    .text-input-ios{
        margin: 0px!important;
        padding:10px 0px 0px 0px!important;
    }
    
    ion-col{
        position:relative;
        border-bottom:1px solid rgb(233,240,247);
    }
    .icoEmpenho{
        position: absolute;
        left: 15px;
        top: 13px;
        color: rgb(89,97,118);
        z-index: 100;
    }
    
    .icoEmpenho.icon-ios{
        top:20px;
    }
    .card{
        width: 40px;
        height: 40px;
        float: left;
        border-radius: 3px;
        background-size: cover;
        background-position: center;
        box-shadow: none;
    }
    ion-card{
        border-radius:40px!important;
        width: 90%!important;
        height:70px!important;
        position:relative;
    }
    .titulo{
        width: 100%;
        height: 70px;
        line-height: 70px;
        text-align:left;
        font-size:18px;
        font-weight: bold;
        color: #fff;
        padding-left:10px;
        // padding: 38px 5px 0px;
        vertical-align: bottom;
        background-color: rgba(000,000,000,0.3)
    }
    .less_plus{
        height:70px;
        padding-top:25px;
    }
    
    .btnMenos, .btnMais{
        float: left;
        width: 25px;
        height: 25px;
        border-radius: 13px;
        text-align: center;
        line-height: 25px;
        font-size: 16px;
        padding: 0px;
    }
    .btnMenos:hover, .btnMais:hover{
        background-color:#2e9888;
    }
    .btnMenos{
        background-color:rgb(255,255,255);
        color: rgb(89,97,118);
        box-shadow: 0px 3px 3px 3px rgba(223,233,239,0.3);
    }
    .btnMais{
        background-color:rgb(35,214,186);
        color: rgb(255,255,255);
        box-shadow: 0px 3px 3px 3px rgba(35,214,186,0.3);
    }
    .qtd{
        text-align: center;
        font-size: 12pt;
        color: #596176;
        line-height: 25px;
        float: left;
        margin: 0;
        margin-top: 5px;
        width: 30px;
    }
    .qtd .text-input{
        text-align: center;
        margin: 0;
    }
    .colunaResumo{
        border:0px!important;
        height: 30px;
    }
    .colunaResumoTotal{
        border:0px!important;
        height: 40px;
    }
    .asterisco{
        font-size:8pt;
    }
    .totais{
        font-size:16pt;
    }
} 



 