page-home {
    h5{
        margin:15px auto;
        font-size: 16pt;
        padding: 5px!important;
    }
    .card{
        width: 98%;
        height: 200px;
        margin: 15px auto;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-box-shadow: 4px 3px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 3px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 3px 10px 0px rgba(0,0,0,0.75);
    }

    .alert-title,.alert-md .alert-sub-title{
        text-align: center;
    }
    
    .card .card-title{
        text-align: center;
        color:#fff;
        font-size:26pt;
        padding-top:20px;
    }
    
    .contentModal {
        color: rgb(89,97,118);
    }
    
    .contentModal h3{
        font-size:12pt;
        font-weight: bold;
        text-transform:uppercase;
    }
    
    .contentModal ul{
        padding-left: 20px;
    }
    
    .contentModal li{
        font-size:12pt;
    }
    
    .contentModal hr{
        color: rgb(89,97,118);
        height:1pt;
    }
    
    .contentModal .modelImg{
        
    }

    .card-btn{
        width: 100px;
        margin: 0 auto;
        background-color: #23d6b9;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 15px;
        margin-top: 10px;
        color: #fff;
    }
    
}
