page-home {
    ion-content h5{
        font-size: 12pt;
        background-color: #ffffff;
        margin: 0px 0px 20px 0px;
        // padding:30px!important;
    }

    .row{
        width:100%;
        height: 90px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home_button{
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 5px solid #FFF;
        border-radius: 50%;
        vertical-align: middle;
        position: relative;
        margin: 0 5px;
        background-color: #eff0f4;
    }

    .home_button.small{
        display:inline-block;
        width: 90px;
        height: 90px;
    }
    .home_button span{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 600;
        font-size: 15px;
        color: #f77062;
    }
    .home_button.small span{
        font-weight: 700;
        font-size: 12px;
        color: #f77062;
    }

    .home_button img{
        height: 60%;
        width: auto;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    ion-content .scroll-content{
        // background-color: #f77062;
        background-size: cover;
        background-position: center center;
        background-image: url(../assets/imgs/fundo2.jpg);
    }

    // ion-content .scroll-content::after{
    //     content: "";
    //     background-image: url('../assets/imgs/fundo.jpg');
    //     opacity: 0.5;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     position: absolute;
    //     z-index: -1;   
    //     background-size: cover;
    //   }


      .fale_com{
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
      .fale_com img{
        height: auto;
        width: 70px;
      }

    // OPCAO 2
    // h5{
    //     height: 80px;
    //     text-align: center;
    //     font-size: 18px;
    //     background-color: #ffffff;
    //     padding-top: 20px !important;
    //     margin: 0px 0px 50px;
    // }

    // .row{
    //     width:100%;
    //     height: 90px;
    //     text-align: center;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    // .home_button{
    //     display: inline-block;
    //     width: 100px;
    //     height: 100px;
    //     // border: 5px solid #000;
    //     border-radius: 50%;
    //     vertical-align: middle;
    //     position: relative;
    //     margin: 0 5px;
    //     background-color: #ffffff;
    // }

    // .home_button.small{
    //     display:inline-block;
    //     width: 90px;
    //     height: 90px;
    // }
    // .home_button span{
    //     margin: 0;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }

    // .home_button img{
    //     height: 60%;
    //     width: auto;
    //     margin: 0;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     -webkit-transform: translate(-50%, -50%);
    //     transform: translate(-50%, -50%);
    // }

    // ion-content .scroll-content{
    //     background-color: #f77062;
    // }
    
}
