<!--
  Generated template for the ModalEventdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button (click)="closeModal()" color="light" class="btnVoltar" float-left><ion-icon name="arrow-back"></ion-icon></button>
        <ion-title float-left>Detalhes do Evento</ion-title>
        <button class="paty-btn" ion-button float-right color="light" (click)="faleCom()">
          <img src="assets/imgs/logo.png" style="height: 44px;"/>
        </button>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row *ngIf="myevent.canceled">
            <ion-col col-12 text-center>
                <h3>EVENTO CANCELADO</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-label stacked>Tipo do Evento</ion-label>
                <ion-input class="labels" readonly="true" [(ngModel)]="myevent.typename"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-label stacked>Localização</ion-label>
                <ion-textarea class="labels" readonly="true" [(ngModel)]="myevent.location_complete"></ion-textarea>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-label stacked>Data</ion-label>
                <ion-datetime disabled="true" displayFormat="DDD, DD MMM YYYY" class="labels" readonly="true" [(ngModel)]="myevent.dateStart"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-label stacked>Início</ion-label>
                <ion-datetime disabled="true" displayFormat="HH:mm" class="labels" readonly="true" [(ngModel)]="myevent.dateStart"></ion-datetime>
            </ion-col>
            <ion-col col-6>
                <ion-label stacked>Duração</ion-label>
                <ion-input  class="labels" readonly="true" [(ngModel)]="myevent.duration"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <p text-center>
                    Este é o seu Staff confirmado:
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list *ngIf="myevent.is_time">
        <ion-item *ngFor="let staff of myevent.staffs">
            <ion-avatar item-start>
                <img src="{{staff.staff.image}}">
            </ion-avatar>
            <h2>{{staff.stafftype}} - {{staff.staff.firstname}} {{staff.staff.lastname}}</h2>
            <button class="okCheck" item-end>Confirmado!</button>
        </ion-item> 
    </ion-list>
    <ion-grid *ngIf="!myevent.is_time">
        <ion-row *ngFor="let service of myservices;">
            <ion-col col-12> 
                <ion-card [style.backgroundImage]="'url(' + service.image + ')'">
                </ion-card>
                <div class="titulo">{{service.service}} x {{service.quantity}}</div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="colunaResumo">
                <p text-center>
                    Precisando de ajuda?<br/>
                    <button ion-button (click)="openConsiderations()" class="csLink">Reveja nossas considerações<br/>para um evento de sucesso.</button>
                </p>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!myevent.canceled">
            <ion-col col-12 text-center class="colunaResumo">
                <button ion-button round class="btnRedondo vermelho" (click)="cancelarEvento()">Cancelar este Evento</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    
  </ion-content>
  