<ion-header>
    <button ion-button (click)="closeModal()" color="light" class="head_btn_voltar"><ion-icon name="arrow-back"></ion-icon>voltar</button>
    <div class="head_title"><img src="assets/imgs/title.png"/></div>
    <button class="paty-btn" ion-button float-right color="light" (click)="faleCom()">
        <img src="assets/imgs/logo.png" style="height: 44px;"/>
    </button>
</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row *ngIf="myevent.canceled == 1">
            <ion-col col-12 text-center>
                <h3>EVENTO CANCELADO</h3>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="myevent.step_id == 2" (click)="load_shopp(myevent.shopping_uid)">
            <ion-col col-12 text-center>
                <h3>Evento não finalizado!<br/>Clique aqui para continuar</h3>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-label stacked>Tipo do Evento</ion-label>
                <p class="labels">{{myevent.event_type}}</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-label stacked>Localização</ion-label>
                <p class="labels">{{myevent.location_complete}}</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-label stacked>Data</ion-label>
                <ion-datetime disabled="true" displayFormat="DDD, DD MMM YYYY" class="labels" readonly="true" [(ngModel)]="myevent.event_start"></ion-datetime>
            </ion-col>
            <ion-col col-6>
                <ion-label stacked>Início</ion-label>
                <ion-datetime disabled="true" displayFormat="HH:mm" class="labels" readonly="true" [(ngModel)]="myevent.event_start"></ion-datetime>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6>
                <ion-label stacked>Evento para</ion-label>
                <p class="labels" readonly="true">{{myevent.attendees}} pessoas</p>
            </ion-col>
            <ion-col col-6>
                <ion-label stacked>Duração</ion-label>
                <p class="labels" readonly="true">{{myevent.duration}} horas</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list *ngIf="myevent.is_time">
        <p text-center>
            Itens solicitados:
        </p>
        <ion-item *ngFor="let item of myevent.items">
            <h2>{{item.product}}</h2>
            <div class="services" *ngFor="let associeted of item.associateds">
                <ion-avatar item-start>
                    <img src="{{associeted.image}}">
                </ion-avatar>
                <h2>{{associeted.firstname}} {{associeted.lastname}}</h2>
                <span class="okCheck" item-end>Confirmado!</span>
            </div>
        </ion-item> 
    </ion-list>
    <ion-grid *ngIf="!myevent.is_time && myevent.step_id == 3">
        <p text-center>
            Itens solicitados:
        </p>
        <ion-row *ngFor="let item of myevent.items;">
            <ion-col col-12> 
                <ion-card [style.backgroundImage]="'url(' + item.image + ')'">
                </ion-card>
                <div class="titulo">
                    {{item.product}} x {{item.quantity}}<br/>
                    <span *ngIf="item.duration > 0">{{item.duration}} horas</span>
                    <span *ngIf="item.attendees > 0">{{item.attendees}} pessoas</span>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 class="colunaResumo">
                <p text-center>
                    Precisando de ajuda?<br/>
                    <button ion-button (click)="openConsiderations()" class="csLink">Reveja nossas considerações<br/>para um evento de sucesso.</button>
                </p>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="myevent.canceled == 0">
            <ion-col col-12 text-center class="colunaResumo">
                <button ion-button round class="btnRedondo vermelho" (click)="cancelarEvento(myevent.shopping_uid)">Cancelar este Evento</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    
  </ion-content>
  