<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-avatar *ngIf="account.logged" (click)="editUser()" class="imgUser" item-start>
        <img src="{{account.image}}"/>
      </ion-avatar>
      <ion-title *ngIf="account.logged">{{account.name}}</ion-title>
      <button class="btnEntrar" (click)="doLogin()" *ngIf="!account.logged" menuClose ion-button float-end>Login</button>
      <button class="btnEntrar" (click)="doLogout()" *ngIf="account.logged" menuClose ion-button float-end>Logout</button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="!account.logged">
      <button menuClose ion-item *ngFor="let p of unlogged" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-list  *ngIf="account.logged && account.isStaff">
      <button menuClose ion-item *ngFor="let p of staffPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-list *ngIf="account.logged && !account.isStaff">
      <button menuClose ion-item *ngFor="let p of userPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>