<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <div class="avatar">
        <ion-avatar *ngIf="account.logged" (click)="editUser()">
          <img src="{{account.image}}"/>
        </ion-avatar>
      </div>
      <div class="clear"></div>
      <p class="account-name" *ngIf="account.logged">{{account.name}}</p>
      <button class="btnLogin" (click)="doLogin()" *ngIf="!account.logged" color="gray" menuClose ion-button>Login</button>
      <button class="btnLogout" (click)="doLogout()" *ngIf="account.logged" color="gray" menuClose ion-button>Logout</button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="!account.logged">
      <button menuClose class="itemMenu" *ngFor="let p of unlogged" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-list  *ngIf="account.logged && account.isStaff">
      <button menuClose class="itemMenu" *ngFor="let p of staffPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-list *ngIf="account.logged && !account.isStaff">
      <button menuClose class="itemMenu" *ngFor="let p of userPages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>