<ion-header>
  <ion-navbar>
    <button ion-button menuToggle float-left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title float-left><img src="assets/imgs/title.png"/></ion-title>
    <button class="paty-btn" ion-button float-right color="light" (click)="faleCom()">
      <img src="assets/imgs/logo.png" style="height: 44px;"/>
    </button>
  </ion-navbar>
</ion-header>
  
  <ion-content>
    <p class="txtTitulo">    
      <ion-avatar style="background-image:url('assets/imgs/Barman.jpg')" item-start margin-left>
      </ion-avatar>
      {{dia}} {{userDetails.name}}, esta é sua lista de eventos.
    </p>

    <h4 padding-left>Meus Eventos Confirmados</h4>

    <ion-card *ngFor="let myevent of myevents" (click)="openEvent(myevent)" margin-top>
      <div class="tags">
          <ion-badge *ngFor="let flag of myevent.flags" class="{{flag.tag}}">{{flag.name}}</ion-badge>
      </div>
      <div class="titulo">{{myevent.typename}} - {{myevent.staff_type_name}}</div>
      <div class="date"><ion-datetime class="labels" disabled="true"  displayFormat="DDD, DD MMM YYYY" [(ngModel)]="myevent.dateStart"></ion-datetime></div>
      <ion-icon class="seta" name="arrow-forward"></ion-icon>
    </ion-card>
    
  </ion-content>