<ion-header>
  <button class="head_btn_menu" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <div class="head_title"><img src="assets/imgs/title.png"/></div>
  <button class="paty-btn" ion-button float-right color="light" (click)="faleCom()">
    <img src="assets/imgs/logo.png" style="height: 44px;"/>
  </button>
</ion-header>

<ion-content>
  <h3 padding-left>Meus eventos</h3>

  <div *ngIf="myevents?.length === 0">
    <ion-grid>
        <ion-row>
          <ion-col col-12 text-center>
            <img src="assets/imgs/logo.png"/>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 text-center>
            Nenhum evento solicitado
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
  
  <ion-card *ngFor="let myevent of myevents"  margin-top (click)="openEvent(myevent)" >
    <div class="tags">
        <ion-badge class="{{myevent.flag.class}}">{{myevent.flag.name}}</ion-badge>
    </div>
    <div class="titulo">{{myevent.event_type}}</div>
    <div class="date">{{myevent.event_start | date:'dd/MM/yyyy HH:mm'}}</div>
    <ion-icon class="seta" name="arrow-forward"></ion-icon>
  </ion-card>
  
</ion-content>